@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://st3.depositphotos.com/10820522/36256/i/450/depositphotos_362566674-stock-photo-white-business-class-car-on.jpg" alt="CoolCarPicture" style=" width:1366px;height:768px;" ">
</div>
